<!--
<app-custom-video-player *ngIf="isShowVideo"></app-custom-video-player> -->

<!-- <app-progress-bar></app-progress-bar>


<select #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
</select>

<button (click)="selectVideo()">{{ 'global.video01' | translate }}</button>
<button (click)="selectVideo()">{{ 'global.video02' | translate }}</button>
<button (click)="selectVideo()">{{ 'global.video03' | translate }}</button>

<input type="text" [(ngModel)]="test" name="test" #testtest="ngModel" required><span>{{test}}</span>
<div *ngIf="testtest.invalid && (testtest.dirty || testtest.touched)">
    <div *ngIf="testtest.errors.required">遷回申請說明是必填欄位!</div>
</div> -->

<!-- <app-table-test></app-table-test> -->

<app-animate-test></app-animate-test>
