
<div #videoWindow style="position: relative;">
    <video class="video-player" #video style="width:100%;" poster="assets/big_buck_bunny.jpg" (click)="playVideo()" preload="auto">
      <source src="assets/big_buck_bunny_720p_surround.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
  <!-- 失敗動圖 -->
  <div *ngIf="" style="width:100%;height:100%;">
    <img src="assets/want-want.error.gif" alt="">
  </div>
  <div class="video-tools">
      <!-- 影片進度(上排) -->
      <div class="video-progress">
          <mat-slider min="0" [max]="totalSecondTime" aria-label="units" (input)="timeControl($event)" [value]="sliderTime"></mat-slider>
          <!-- <mat-progress-bar color="basic" mode="determinate" value="40"></mat-progress-bar> -->
      </div>
      <!-- 左邊功能列(下排) -->
      <div class="video-features">
          <div class="video-features-control">
              <button class="replay-10" mat-button style="width:40px;" (click)="dataSkip(-10)">
                  <mat-icon>fast_rewind</mat-icon>
              </button>
              <button class="replay" mat-button>
                  <mat-icon>replay</mat-icon>
              </button>
              <button class="pause" mat-button (click)="playVideo()" *ngIf="isPlay">
                  <mat-icon>pause</mat-icon>
              </button>
              <button class="play-arrow" mat-button (click)="playVideo()" *ngIf="!isPlay">
                  <mat-icon>play_arrow</mat-icon>
              </button>
              <button class="forward-10" mat-button (click)="dataSkip(10)">
                  <mat-icon>fast_forward</mat-icon>
              </button>
              <!-- 音量 -->
              <button class="volume-up" mat-button (click)="volumeMuted()" *ngIf="!isMuted">
                  <mat-icon>volume_up</mat-icon>
              </button>
              <button class="volume-off" mat-button (click)="volumeMuted()" *ngIf="isMuted">
                  <mat-icon>volume_off</mat-icon>
              </button>
              <div class="volume-control">
                  <mat-slider *ngIf="!isLoading" thumbLabel step="1" min="0" max="100" aria-label="units" (input)="volumeControl($event)" value="50"></mat-slider>
                  <mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
              </div>
              <!-- 時間 -->
              <div class="video-time">
                  <span>{{currentTime}}</span> / <span>{{totalTime}}</span>
              </div>
          </div>
          <!-- 右邊功能 -->
          <div class="video-features-setting">
              <span style="margin-right:5px;" *ngIf="videoSpeed !== 1">Speed: {{videoSpeed}}</span>
              <button class="settings" mat-button [matMenuTriggerFor]="speedMenu">
                  <mat-icon>speed</mat-icon>
              </button>
              <mat-menu #speedMenu="matMenu" yPosition="above">
                <button mat-menu-item (click)="setPlaySpeed(0.25)">0.25</button>
                <button mat-menu-item (click)="setPlaySpeed(0.5)">0.5</button>
                <button mat-menu-item (click)="setPlaySpeed(0.75)">0.75</button>
                <button mat-menu-item (click)="setPlaySpeed(1)">Normal</button>
                <button mat-menu-item (click)="setPlaySpeed(1.25)">1.25</button>
                <button mat-menu-item (click)="setPlaySpeed(1.5)">1.5</button>
                <button mat-menu-item (click)="setPlaySpeed(1.75)">1.75</button>
              </mat-menu>
              <!-- <div class="speed-setting" *ngIf="showSetting">
                  <h4 style="padding:8px 12px;border-bottom:1px solid #fff">Play Speed</h4>
                  <ul>
                      <li (click)="setPlaySpeed(0.25)">0.25</li>
                      <li (click)="setPlaySpeed(0.5)">0.5</li>
                      <li (click)="setPlaySpeed(0.75)">0.75</li>
                      <li (click)="setPlaySpeed(1)">Normal</li>
                      <li (click)="setPlaySpeed(1.25)">1.25</li>
                      <li (click)="setPlaySpeed(1.5)">1.5</li>
                      <li (click)="setPlaySpeed(1.75)">1.75</li>
                  </ul>
              </div> -->
              <button class="zoom-out-map" *ngIf="!isFullScreen" mat-button (click)="fullScreen()">
                  <mat-icon>zoom_out_map</mat-icon>
              </button>
              <button class="zoom-in-map" *ngIf="isFullScreen" mat-button (click)="fullScreen()">
                  <mat-icon>zoom_in_map</mat-icon>
              </button>
          </div>
      </div>
  </div>
</div>
