<div class="video-wrapper">
  <!-- 影片視窗 -->
  <div #videoWindow class="video-window" tabindex="-1">
    <!-- 撥放器 -->
    <!-- <div class="watermark-block">
      <div #watermark class="watermark" (click)="playVideo()"></div> -->
      <video #videoPlayer class="video-player" preload="auto" crossorigin="anonymous" [poster]="videoImageUrl" (click)="playVideo()">
        <source [src]="videofile" type="video/mp4" crossorigin="anonymous">
        Your browser does not support the video tag.
      </video>
    <!-- </div> -->
    <!-- big play button -->
    <div class="big-black-bg" *ngIf="!isPlay && !isError && !isEnd" (click)="playVideo()">
      <button mat-fab style="background:red;"><mat-icon>play_arrow</mat-icon></button>
    </div>
    <!-- the end -->
    <div class="big-black-bg" *ngIf="isEnd" (click)="replayVideo()">
      <button mat-fab style="background:red;"><mat-icon>replay</mat-icon></button>
    </div>
    <!-- error -->
    <div class="big-black-bg" *ngIf="isError">
      <img style="width: 150px;" src="assets/want-error.gif" alt="">
      <strong style="background:#000;padding:5px;border-radius:10px;color:#fff;">影片發生錯誤 !</strong>
      <button mat-icon-button (click)="reloadVideo()" style="color:#fff;">
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
    <!-- loading -->
    <div class="big-black-bg" style="flex-direction:column" *ngIf="isLoading">
        <!-- <img src="assets/cti-logo.png" alt=""> -->
        <mat-progress-bar style="width:150px;" mode="buffer" color="primary"></mat-progress-bar>
    </div>
    <!-- 控制項 -->
    <div class="video-controls">
      <!-- 時間進度條 -->
      <div #videoProgress class="video-progress">
        <!-- <progress min="0" [max]="durationTime" [value]="progressTime" #progressBar></progress> -->
        <input #progressTimeInp type="range" min="0" [max]="durationTime" style="width:100%;" [value]="progressTime" (input)="timeControl($event)" />
      </div>
      <div class="video-feature">
        <div style="display: flex;align-items: center;">
          <button mat-button (click)="videoSkip(-10)"><mat-icon>fast_rewind</mat-icon></button>
          <button mat-button *ngIf="!isPlay && !isError && !isEnd" (click)="playVideo()">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <button mat-button *ngIf="isPlay && !isError && !isEnd" (click)="playVideo()">
            <mat-icon>pause</mat-icon>
          </button>
          <button mat-button *ngIf="isEnd" (click)="replayVideo()">
            <mat-icon>replay</mat-icon>
          </button>
          <button mat-button *ngIf="isError" (click)="reloadVideo()">
            <mat-icon>autorenew</mat-icon>
          </button>
          <button mat-button (click)="videoSkip(10)"><mat-icon>fast_forward</mat-icon></button>
          <button mat-button (click)="volumeMuted()">
            <mat-icon *ngIf="!isMuted">volume_up</mat-icon>
            <mat-icon *ngIf="isMuted">volume_off</mat-icon>
          </button>
          <div class="volumeControl">
            <input #volumeControlInp style="width:80px;" type="range" min="0" max="100" step="1" [value]="volume" (input)="volumeControl($event)">
          </div>
          <div style="color:#fff;margin-left:10px;">
            <span>{{currentTime}}</span> / <span>{{totalTime}}</span>
          </div>
        </div>
        <div>
          <!-- 速度選單 -->
          <div #speedSetting class="speed-setting">
            <ul>
                <li (click)="speedControl(0.25)">0.25</li>
                <li (click)="speedControl(0.5)">0.5</li>
                <li (click)="speedControl(0.75)">0.75</li>
                <li (click)="speedControl(1)">Normal</li>
                <li (click)="speedControl(1.25)">1.25</li>
                <li (click)="speedControl(1.5)">1.5</li>
                <li (click)="speedControl(1.75)">1.75</li>
            </ul>
          </div>
          <button mat-button class="speed-btn" (click)="openSpeedSetting()"><mat-icon>speed</mat-icon></button>
          <button mat-button (click)="fullScreen()">
            <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
            <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button (click)="deleteDom()">刪除浮水印</button>
  </div>
  <!-- 擷取按鈕 -->
  <button mat-raised-button color="primary" (click)="captureFragment()">擷取畫面</button>
  <!-- 擷取紀錄 -->
  <div style="max-width:600px;display:flex;overflow: auto;padding:20px;">
    <mat-card style="margin:10px;" *ngFor="let fragment of editVideoFragments;let i = index">
      <button mat-mini-fab color="primary" style="position:absolute;right:-20px;top:-20px;" (click)="deleteFragment(i)"><mat-icon>delete</mat-icon></button>
      <mat-card-content>
        <img mat-card-image [src]="fragment.imgUrl" (click)="jumpSpecifiedFragment(fragment.secondsTime)">
        <p>time: {{fragment.currentTime}}</p>
        <textarea name="" id="" cols="30" rows="5" [value]="fragment.remark"></textarea>
      </mat-card-content>
    </mat-card>
  </div>

</div>


<!-- <div>
  <div style="width:60px;height:40px;border:1px solid red;">
    <img class="pic" src="assets\big_buck_bunny.jpg" alt="" width="100%" height="100%">
  </div>
</div> -->

