.vjs-icon-replay-5 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay-5:before {
    content: "\f11c"; }

.vjs-icon-replay-10 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay-10:before {
    content: "\f11d"; }

.vjs-icon-replay-30 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-replay-30:before {
    content: "\f11e"; }

.vjs-icon-forward-5 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-forward-5:before {
    content: "\f11f"; }

.vjs-icon-forward-10 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-forward-10:before {
    content: "\f120"; }

.vjs-icon-forward-30 {
  font-family: VideoJS;
  font-weight: normal;
  font-style: normal; }
  .vjs-icon-forward-30:before {
    content: "\f121"; }
